doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description" content="API to View")
    title Черный жемчуг
    include _styles
    include _scripts
  body
    block base
