div.footer__after
  div.footer__after-container
    div.footer__after-block
      p.footer__after-text ООО «Юнилевер Русь»
      p.footer__after-text
      a.footer__after-link
        span.footer__after-text Политика конфиденциальности
    div.footer__after-block
      p.footer__after-text Юридический и почтовый адрес:
      p.footer__after-text 123022, г. Москва, ул. Сергея Макеева, д. 13.
      a.footer__after-link
        span.footer__after-text Условия использования
    div.footer__after-block
      p.footer__after-text
        | Электронная почта:
        | Communications.Russia@unilever.com
      a.footer__after-link
        span.footer__after-text Политика cookie
      a.footer__after-link
        span.footer__after-text Правила акции