footer.footer
  div.social
    a.social__faq.button__circle(data-target='faq')
    a.social__item.social__ok.button__circle(target="_blank")
    a.social__item.social__vk.button__circle(target="_blank")
  div.footer__content
    div.footer__img-title
  div.main__layout.footer__layout
    a
      img(src="../img/footer__arrow.png" alt="Красота")