header.header.header__second(data-header)
  a(href="Index.html")
    img.header__logo(src="../img/logo__main.png" alt="Самоомоложение")
  div.header__auth
    a.auth__button.auth__button-second(data-target='registration')
      span.auth__text.auth__text-second Личный кабинет