header.header.header__second(data-header)
  a(class="logo__o" href="Index.html")
    img.header__logo(src="../img/logo__main.png" alt="Самоомоложение")
  div.header__auth
    a.auth__button.auth__button-second(class="logo__o" data-target='registration')
      span.auth__text.auth__text-second Личный кабинет