extends _base
block base
  .wrapper__second
    include _header__second
    .wrapper__main.wrapper__cabinet
      div.main__layout(style="margin-bottom: -67px !important;")
        aside.aside__left.main__menu.main__menu-second
          div.menu__left
            div.menu__container
              nav.menu__list
                li.menu__item
                  div.menu__circle-default.menu__circle-default-second
                  a.menu__link.link__default.link__cabinet(href="Index.html")
                    span.menu__text.menu__text-second Зарегистрировать чек
                li.menu__item
                  div.menu__circle-default.menu__circle-default-second
                  a.menu__link.link__default.link__cabinet.link__cabinet(href="Shares.html")
                    span.menu__text.menu__text-second Правила и призы
                li.menu__item
                  div.menu__circle-default.menu__circle-default-second
                  a.menu__link.link__default.link__cabinet(href="Winners.html")
                    span.menu__text.menu__text-second Победители
        div.main__block
          div.block__layout
            h1.h1.cabinet__title Личный кабинет
          div.block__layout
            div.block__layout-btn
              a.button__default.button__purple.button__purple-bg(data-target='questionnaire')
                span.button__purple-text Анкета участника
              a.button__default.button__purple(data-target='check')
                span.button__purple-text Чеки
          div.block__check
            div.prize.check
              div.block__layout
                table.prize__table.check__table
                  thead
                    th Номер чека
                    th Дата загрузки
                    th Еженедельный розыгрыш
                    th Ежемесячный розыгрыш
                  tbody
                    tr
                      td 134841
                      td 11.11.16
                      td.win Выиграл
                      td.wait Ожидает
                    tr
                      td 432341
                      td 17.11.16
                      td.lose Проиграл
                      td.lose Проиграл
                    tr
                      td 314123
                      td 23.11.16
                      td.wait Ожидает
                      td.lose Проиграл
                    tr
                      td 244137
                      td 29.11.16
                      td.lose Проиграл
                      td.lose Проиграл
                    tr
                      td 244612
                      td 04.12.16
                      td.wait Ожидает
                      td.win Выиграл
              div.block__layout-lk-silver
                a.button__default.button__silver(data-target='upload')
                  span.button__silver-text Загрузить чек
          div.block__cabinet
            div.block__layout
              div.block__left
                div.block__layout
                  input.input__default(type="text" placeholder="Семенова" disabled)
                  span Фамилия
                  input.input__default(type="text" placeholder="Ксения" disabled)
                  span Имя
                  input.input__default(type="text" placeholder="Витальевна" disabled)
                  span Отчество
                div.block__layout
                  div.block__layout-sex
                    span.label__default.label__radio Пол:
                    input.input__radio(type="radio" name="sex" checked disabled)
                    label
                    span.label__default.label__radio Ж
                    input.input__radio(type="radio" name="sex" disabled)
                    label
                    span.label__default.label__radio М
                div.block__layout
                  div.block__layout-date
                    span.label__default.label__date Дата рождения:
                    input.input__default(type="text" placeholder="22" disabled).input__default-day
                    select.select__default.select__disabled(type="text" disabled)
                      option Январь
                      option Февраль
                      option Март
                      option Апрель
                      option Май
                      option Июнь
                      option Июль
                      option Август
                      option Сентябрь
                      option Октябрь
                      option Ноябрь
                      option Декабрь
                    input.input__default(type="text" placeholder="1980" disabled).input__default-year
              div.block__right
                div.block__layout
                  input.input__default(type="text" placeholder="Санкт-Петербург" disabled)
                  span Город
                  input.input__default(type="text" placeholder="semenova80@mail.ru" disabled)
                  span E-main
                  input.input__default(type="text" placeholder="+7 (934) 312-12-13" disabled)
                  span Телефон
                div.block__layout
                  div.block__layout-lk-silver
                    a.button__default.button__silver(data-target='edit')
                      span.button__silver-text Редактировать
    include _footer__second
